{% macro render_job(title, location, from_dt, to_dt, hint=none, url=none, description=none) %}
  <div class="timeline-entry">
    <div class="entry-meta">
      <span class="time">{{ from_dt }} &mdash; {{ to_dt }}</span>
      {% if hint %}
        {{ hint }}
      {% elif url %}
        <a href="{{ url }}">{{ url }}</a>
      {% endif %}
    </div>
    <div class="entry-main">
      <span class="entry-title">{{ title }}</span>
      <span class="highlight">{{ location }}</span>
    </div>
    {% if description %}
      <div class="entry-description">
        {{ description }}
      </div>
    {% endif %}
    <div class="entry-details">
      {{ caller() }}
    </div>
  </div>
{% endmacro %}

{% macro render_timeline_row(title, year, location=none, description=none) %}
  <div class="timeline-row">
    <div class="time">{{ year }}</div>
    <div>
      <div class="">
        <span class="title">{{ title }}</span>
        {% if location %}
          <span class="location">({{ location }})</span>
        {% endif %}
      </div>
      {% if description %}
        <div class="description">
          <ul>
            <li>{{ description }}</li>
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}

<section>
  <h1>Experience</h1>

  {% call render_job(title="Full-Stack Software Developer", location="Indico (CERN)",
                     from_dt="2013 Mar", to_dt="now", url="http://indico-software.org/",
                     description="Indico is a web application for event organization used at CERN, UN, Fermilab, and 150+ other
                                  institutions.") %}
    <ul>
      <li>Migrated Flask application from ZODB, an object-oriented database, to PostgreSQL.</li>
      <li>Refactored complete back-end and most of front-end, substantially improving user experience.</li>
      <li>Introduced numerous reusable UI components to enforce visual consistency application-wide.</li>
      <li>More: testing, machine orchestration, integration with LDAP, user support, technical training, etc.</li>
    </ul>
  {% endcall %}

  {% call render_job(title="Data Visualization Engineer", location="CERN", from_dt="2012 Jun", to_dt="2012 Sep") %}
    <ul>
      <li>Developed interactive tool for LHC data visualization in Java EE and integrated it into Java Swing app.</li>
    </ul>
  {% endcall %}
</section>

<section>
  <h1>Education</h1>
  {% call render_job(title="Master in Machine Learning", location="Universty of Granada",
                     from_dt="2012 Oct", to_dt="2016 Sep", hint="GPA: 2.4") %}
    <ul>
      <li>Thesis: Survey on style transfer techniches and generative models with neural networks.</li>
    </ul>
  {% endcall %}
  {% call render_job(title="Master in Computer Science", location="Universty of Jaén",
                     from_dt="2010 Sep", to_dt="2012 Jul", hint="GPA: 3.54") %}
    <ul>
      <li>Thesis: Evacuation route discovery on catastrophe scenarios using ant colony optimization.</li>
      <li>Exchange programs at <span class="emph">University of Central Florida</span> and <span class="emph">Tokyo Univesity of Science</span>.</li>
    </ul>
  {% endcall %}
  {% call render_job(title="Degree in Computer Engineering", location="Universty of Jaén",
                     from_dt="2007 Sep", to_dt="2010 Jul", hint="GPA: 2.39") %}
    <ul>
      <li>Directed and hosted a weekly program about technology at <span class="emph">UniRadio Jaén</span> radio station.</li>
      <li>Was the main organizer of Microsoft <span class="emph">.NET Club</span> events at my university.</li>
    </ul>
  {% endcall %}
</section>

<section>
  <h1>Training</h1>
  {{ render_timeline_row(title="Certified White Hat", year="2016", location="CERN",
                         description="Injections, cross-site scripting, request forgery, race conditions, framework exploits, etc.") }}
  {{ render_timeline_row(title="CERN School of Computing", year="2015", location="University of Kavala",
                         description="Multicore programming, architecture performance tuning, cloud storage, networking QoS, data analysis.") }}
  {{ render_timeline_row(title="Advanced Python",
                         year="2014", location="CERN") }}
  {{ render_timeline_row(title="Design for Usability",
                         year="2013", location="CERN") }}
</section>

<section>
  <h1>Awards</h1>
  {{ render_timeline_row(title="Platinum Curriculum recognition for academic and social merits",
                         year="2012", location="University of Jaén") }}
  {{ render_timeline_row(title="Top of my Class at Master in Computer Science",
                         year="2012", location="University of Jaén") }}
  {{ render_timeline_row(title="Best student in the International Mobility Program",
                         year="2011", location="University of Jaén") }}
  {{ render_timeline_row(title="Top of my Class at Degree in Computer Engineering",
                         year="2010", location="University of Jaén") }}
</section>

<section>
  <h1>And more</h1>
  {{ render_timeline_row(title="Talk: The path of code linting", year="2017") }}
  {{ render_timeline_row(title="Talk: Flex-box, the yoga of CSS", year="2017") }}
  {{ render_timeline_row(title="Workshop: Hands-on tutorial on Git", year="2016") }}
  {{ render_timeline_row(title="Volunteering: Organized and mentored Summer Student Webfest hackathons", year="201X", location="Geneva") }}
  {{ render_timeline_row(title="Volunteering: Organized 5K+ visitor Japanese culture event", year="2011", location="Jaén") }}
</section>
