<section>
  <h1>Superpowers</h1>
  Design large systems<br>
  Work under pressure<br>
  Understanding users<br>
  Finding compromises<br>
  Fast code navigation<br>
  Pixel-perfect design<br>
  Naming stuff<br>
</section>
<section>
  <h1>Programming</h1>
  Python<br>
  Javascript<br>
  CSS HTML<br>
  Shell<br>
  LaTeX<br>
</section>
<section>
  <h1>Technologies</h1>
  Git<br>
  Flask<br>
  SqlAlchemy<br>
  SASS<br>
  Angular<br>
  PostgreSQL<br>
  Puppet<br>
  pytest<br>
</section>
<section>
  <h1>Projects</h1>
  Dotfiles engine<br>
  Blindstore<br>
  Everware<br>
  Nigeba<br>
</section>
<section>
  <h1>Languages</h1>
  Spanish English<br>
  French intermediate<br>
</section>
<section>
  <h1>Things I like</h1>
  Meditation | Philosophy | Boxing | Hackathons | Minecraft
</section>
