<section>
  <h1>Superpowers</h1>
  Design large systems<br>
  Work under pressure<br>
  Understanding users<br>
  Finding compromises<br>
  Fast code navigation<br>
  Pixel-perfect design<br>
  Naming stuff<br>
</section>
<section>
  <h1>Programming</h1>
  Python<br>
  Javascript<br>
  CSS HTML<br>
  Shell<br>
  LaTeX<br>
</section>
<section class="piped-list">
  <h1>Technologies</h1>
  <span>Git</span>
  <span>Flask</span>
  <span>SqlAlchemy</span>
  <span>SASS</span>
  <span>Angular</span>
  <span>PostgreSQL</span>
  <span>Puppet</span>
  <span>pytest</span>
</section>
<section>
  <h1>Projects</h1>
  Dotfiles engine<br>
  Blindstore<br>
  Everware<br>
  Nigeba<br>
</section>
<section>
  <h1>Languages</h1>
  Spanish English<br>
  French intermediate<br>
</section>
<section class="piped-list">
  <h1>Things I love</h1>
  <span>A good discussion</span>
  <span>An intrincate story</span>
  <span>A difficult video game</span>
  <span>Boxing</span>
  <span>Snowboarding</span>
  <span>Hacking</span>
  <span>Meditation</span>
  <span>Coffee with milk</span>
</section>
