<section>
  <h1>Superpowers</h1>
  Breathing underpressure<br>
  Pixel-perfect design<br>
  Code speleology<br>
  Explaining ideas<br>
  Naming stuff<br>
</section>

<section>
  <h1>Programming</h1>
  <div>Python <span class="lang-level">(5 years)</span></div>
  <div>Javascript <span class="lang-level">(6 years)</span></div>
  <div>HTML &amp; CSS <span class="lang-level">(6 years)</span></div>
  <div>Shell <span class="lang-level">(5 years)</span></div>
  <div>LaTeX <span class="lang-level">(2 years)</span></div>
</section>

<section class="piped-list">
  <h1>Technologies</h1>
  <span>Git</span>
  <span>Flask</span>
  <span>PostgreSQL</span>
  <span>SQLAlchemy</span>
  <span>Angular</span>
  <span>jQuery</span>
  <span>Sass</span>
  <span>Puppet</span>
  <span>Docker</span>
  <span>pytest</span>
</section>

<section>
  <h1>Projects</h1>
  Dotfiles engine <a href="https://github.com/OmeGak/dotfiles" class="fa fa-external-link"></a><br>
  Blindstore <a href="https://blindstore.github.io/" class="fa fa-external-link"></a><br>
  Everware <a href="http://everware.xyz/" class="fa fa-external-link"></a><br>
</section>

<section>
  <h1>Languages</h1>
  Spanish <span class="lang-level">(native)</span><br>
  English <span class="lang-level">(proficient)</span><br>
  French <span class="lang-level">(intermediate)</span><br>
  Japanese <span class="lang-level">(basic)</span><br>
</section>

<section class="piped-list">
  <h1>Things I love</h1>
  <span>A good discussion</span>
  <span>An intrincate story</span>
  <span>A difficult video game</span>
  <span>Boxing</span>
  <span>Snowboarding</span>
  <span>Hacking</span>
  <span>Meditation</span>
  <span>Coffee with milk</span>
</section>
