.timeline-entry {
  $font-size: 9pt;

  &:not(:first-of-type) {
    margin-top: 1em;
  }

  .entry-meta {
    display: -webkit-flex;
    justify-content: space-between;
    color: $light-gray;
    font-size: $font-size;
  }

  .entry-main {
    display: -webkit-flex;
    justify-content: space-between;
  }

  .entry-description,
  .entry-details {
    font-size: $font-size;
    text-align: justify;
    margin-top: 0.05cm;
  }

  .entry-description {
    font-style: italic;
  }

  .entry-details {
    margin-left: 0.5cm;

    ul {
      list-style: square;
      margin: 0;
      padding-left: 0;
    }
  }

  .entry-title {
    @extend %font-family-medium;
  }
}

.timeline-row {
  display: flex;

  .time {
    margin: 0 1em;
  }

  .title {
    font-weight: bold;
  }
}
