%font-family-normal {
  font-family: 'HelveticaNeue', 'Helvetica Neue';
}

%font-family-light {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light';
}

%font-family-ultra-light {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight';
}

%font-family-condensed-bold {
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue CondensedBold';
}
