<div class="header-pic">
  <div class="circle">
    <img src="assets/pic.jpg">
  </div>
</div>
<div class="header-content">
  <div>
    <div class="header-name">
      <span class="header-name-first">Alejandro</span>
      <span class="header-name-last">Avilés</span>
    </div>
    <div class="header-title">
      Software Engineering <span class="separator">/</span> Cryptoeconomics <span class="separator">/</span> UX
    </div>
    <div class="header-tagline">
      Crafting tools for a fairer human cooperation.
    </div>
  </div>
  <div class="header-details">
    <div>
      Geneva (Switzerland)
      <i class="fa fa-map-marker fa-fw"></i>
    </div>
    <div>
      <a href="mailto:omegak@gmail.com">omegak@gmail.com</a>
      <i class="fa fa-comments fa-fw"></i>
    </div>
    <div>
      <a href="tel:0041789751193">+41 789 75 1193</a>
      <i class="fa fa-phone fa-fw"></i>
    </div>
    <div>
      <a href="http://omegak.io">http://omegak.io</a>
      <i class="fa fa-globe fa-fw"></i>
    </div>
  </div>
</div>
