{% macro render_job(title, location, from_dt, to_dt, hint=none, url=none, description=none) %}
  <div class="timeline-entry">
    <div class="entry-meta">
      <span class="time">{{ from_dt }} — {{ to_dt }}</span>
      {% if hint %}
        {{ hint }}
      {% elif url %}
        <a href="{{ url }}">{{ url }}</a>
      {% endif %}
    </div>
    <div class="entry-main">
      <span class="entry-title">{{ title }}</span>
      <span class="highlight">{{ location }}</span>
    </div>
    {% if description %}
      <div class="entry-description">
        {{ description }}
      </div>
    {% endif %}
    <div class="entry-details">
      {{ caller() }}
    </div>
  </div>
{% endmacro %}

{% macro render_timeline_row(title, year, location=none, description=none) %}
  <div class="timeline-row">
    <div class="time">{{ year }}</div>
    <div>
      <div class="">
        <span class="title">{{ title }}</span>
        {% if location %}
          <span class="location">({{ location }})</span>
        {% endif %}
      </div>
      {% if description %}
        <div class="description">
          <ul>
            <li>{{ description }}</li>
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}

<section>
  <h1>Experience</h1>

  {% call render_job(title="Full-Stack Software Engineer", location="United Nations (Geneva)",
                     from_dt="2019 Nov", to_dt="present", url="https://www.unog.ch",
                     description="Using Indico, UNOG handles on-site visitors and events with thousands of participants around the world.") %}
    <ul>
      <li>Provided strategic advice on product development and architectural decisions.</li>
      <li>Developed custom features for Indico, both upstream and as add-ons, to meet complex requirements.</li>
      <li>Introduced agile collaboration methodologies in the team and continuous integration in the project.</li>
    </ul>
  {% endcall %}

  {% call render_job(title="Chief Technology Officer", location="Bity (Neuchâtel)",
                     from_dt="2017 Mar", to_dt="2019 May", url="https://bity.com",
                     description="Bity is a Swiss tech startup offering cryptocurrency exchange services online.") %}
    <ul>
      <li>Managed product lifecycles,
        developed a price-tracking software, researched off-chain payment channels.</li>
      <li>Built company culture and set up tools and processes for collaboration within and across different teams.</li>
      <li>Hired +10 engineers and coordinated the transition from a legacy microservice architecture.</li>
    </ul>
  {% endcall %}

  {% call render_job(title="Full-Stack Software Developer", location="Indico (CERN)",
                     from_dt="2013 Mar", to_dt="2017 Feb", url="https://getindico.io",
                     description="Indico is a web application for conference organization used at CERN, UN, Fermilab, and 150+ other places.") %}
    <ul>
      <li>Rewrote entire Python backend and most of the frontend for maintainability, performance, and usability.</li>
      <li>More: LDAP integration, devops, user support, technical training, open source management.</li>
    </ul>
  {% endcall %}
</section>

<section>
  <h1>Education</h1>
  {% call render_job(title="Master in Machine Learning", location="University of Granada",
                     from_dt="2012 Oct", to_dt="2016 Sep", hint="GPA: 2.4") %}
    <ul>
      <li>Thesis: Survey on style transfer techniques and generative models with neural networks.</li>
    </ul>
  {% endcall %}
  {% call render_job(title="Master in Computer Science", location="University of Jaén",
                     from_dt="2010 Sep", to_dt="2012 Jul", hint="GPA: 3.54 (top 1)") %}
    <ul>
      <li>Thesis: Evacuation route discovery on catastrophe scenarios using ant colony optimization.</li>
      <li>Exchange programs at <em>University of Central Florida</em> and <em>Tokyo University of Science</em>.</li>
    </ul>
  {% endcall %}
  {% call render_job(title="Degree in Computer Engineering", location="University of Jaén",
                     from_dt="2007 Sep", to_dt="2010 Jul", hint="GPA: 2.39 (top 1)") %}
    <ul>
      <li>Obtained Platinum Curriculum recognition for academic and social merits.</li>
      <li>Run a weekly podcast about web technologies at <em>UniRadio Jaén</em> radio station.</li>
    </ul>
  {% endcall %}
</section>

<section>
  <h1>Training</h1>
  {{ render_timeline_row(title="Blockchain Developer", year="2019", location="University of Nicosia",
                         description="Digital currency programming, security in cryptographic systems, applications of Bitcoin and Ethereum.") }}
  {{ render_timeline_row(title="Certified White Hat", year="2016", location="CERN",
                         description="Injections, cross-site scripting, request forgery, race conditions, framework exploits, etc.") }}
  {{ render_timeline_row(title="CERN School of Computing", year="2015", location="University of Kavala",
                         description="Multicore programming, architecture performance tuning, cloud storage, networking QoS, data analysis.") }}
</section>

<section>
  <h1>And some other stuff</h1>
  {{ render_timeline_row(title="Talks: \"Sharp forks — On open source governance\"", year="2019", location="Chaos Communication Congress") }}
  {{ render_timeline_row(title="Talks: \"Computing for decentralized systems\"", year="2018", location="CERN") }}
  {{ render_timeline_row(title="Talks: \"The path of code linting\" and \"Flex-box, the yoga of CSS\"", year="2017", location="CERN") }}
  {{ render_timeline_row(title="Volunteering: Organized Swiss Cryptoeconomics assembly", year="2018 —", location="Chaos Communication Congress") }}
  {{ render_timeline_row(title="Volunteering: Organized and mentored multiple hackathons", year="2014 —", location="CERN") }}
</section>
