<section>
  <h1>Superpowers</h1>
  Working under pressure<br>
  Disecting assumptions<br>
  Knowing what I want<br>
  Surfing uncertainty<br>
  Getting shit done<br>
  Keeping friends<br>
  Pixel-perfect design<br>
  Code speleology<br>
</section>

<section>
  <h1>Programming</h1>
  <div>Python <span class="lang-level">(6 years)</span></div>
  <div>Javascript <span class="lang-level">(6 years)</span></div>
  <div>HTML &amp; CSS <span class="lang-level">(6 years)</span></div>
  <div>Shell <span class="lang-level">(6 years)</span></div>
  <div>LaTeX <span class="lang-level">(2 years)</span></div>
</section>

<section class="piped-list">
  <h1>Technologies</h1>
  <span>Git</span>
  <span>CI</span>
  <span>linters</span>
  <span>Ansible</span>
  <span>Docker</span>
  <span>Flask</span>
  <span>Django</span>
  <span>Celery</span>
  <span>PostgreSQL</span>
  <span>SQLAlchemy</span>
  <span>pytest</span>
  <span>mypy</span>
  <span>AngularJS</span>
  <span>Webpack</span>
  <span>Bitcoin</span>
  <span>Ethereum</span>
  <span>etc.</span>
</section>

<section>
  <h1>Projects</h1>
  Dotfiles engine <a href="https://github.com/OmeGak/dotfiles" class="fa fa-external-link"></a><br>
  Blindstore <a href="https://blindstore.github.io/" class="fa fa-external-link"></a><br>
  Everware <a href="http://everware.xyz/" class="fa fa-external-link"></a><br>
</section>

<section>
  <h1>Languages</h1>
  Spanish <span class="lang-level">(native)</span><br>
  English <span class="lang-level">(proficient)</span><br>
  French <span class="lang-level">(intermediate)</span><br>
</section>

<section class="piped-list">
  <h1>Things I love</h1>
  <span>An intricate story</span>
  <span>A deep discussion</span>
  <span>A party until sunrise</span>
  <span>An unplanned adventure</span>
  <span>An impossible challenge</span>
  <span>Crossfit</span>
  <span>Snowboarding</span>
  <span>Hacking</span>
  <span>Meditation</span>
  <span>And coffee with milk</span>
</section>
