<section>
  <h1>Skills</h1>
  Breathing underpressure<br>
  Becoming what I must<br>
  Escaping rabbit holes<br>
  Taming perfectionism<br>
  Saying what I think<br>
  Getting shit done<br>
  Keeping friends<br>
</section>

<section>
  <h1>Programming</h1>
  <div>Python <span class="lang-level">(7 years)</span></div>
  <div>Javascript <span class="lang-level">(7 years)</span></div>
  <div>HTML & CSS <span class="lang-level">(7 years)</span></div>
  <div>Shell <span class="lang-level">(7 years)</span></div>
  <div>Haskell <span class="lang-level">(learning)</span></div>
</section>

<section class="piped-list">
  <h1>Technologies</h1>
  <span>Git</span>
  <span>CI/CD</span>
  <span>Ansible</span>
  <span>Docker</span>
  <span>PostgreSQL</span>
  <span>React</span>
  <span>Webpack</span>
  <span>PGP</span>
  <span>OAuth</span>
  <span>LaTeX</span>
  <span>GitLab</span>
  <span>pytest</span>
  <span>ipfs</span>
  <span>etc.</span>
</section>

<section>
  <h1>Projects</h1>
  bonfire.link <a href="https://bonfire.link/" class="fa fa-external-link"></a><br>
  Dotfiles engine <a href="https://github.com/OmeGak/dotfiles" class="fa fa-external-link"></a><br>
  Blindstore <a href="https://blindstore.github.io/" class="fa fa-external-link"></a><br>
</section>

<section>
  <h1>Languages</h1>
  Spanish <span class="lang-level">(native)</span><br>
  English <span class="lang-level">(almost native)</span><br>
  French <span class="lang-level">(intermediate)</span><br>
</section>

<section class="piped-list">
  <h1>Things I love</h1>
  <span>A strange story</span>
  <span>A deep conversation</span>
  <span>A dance until sunrise</span>
  <span>An uncertain journey</span>
  <span>An impossible challenge</span>
  <span>Reading philosophy</span>
  <span>Meditating daily</span>
  <span>Riding slopes</span>
  <span>Making music</span>
  <span>Mixing deep house</span>
  <span>Competing at Melee</span>
  <span>And coffee with milk.</span>
</section>
