// -- Sizes --------------------------------------------------------------------

$letter-width: 8.5in;
$letter-height: 11in;
$document-left-margin: 1cm;
$sidebar-width: 4cm;

// -- Palette ------------------------------------------------------------------

$red: #d11e2f;
$gray: #4d4d4d;
$dark-gray: #333;
$light-gray: #999;

// -----------------------------------------------------------------------------

@import 'sass/typography';
@import 'sass/timeline';

html,
body {
  @extend %font-family-light;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  box-sizing: border-box;
  font-size: 10.95pt;
  -webkit-print-color-adjust: exact;
}

// sass-lint:disable single-line-per-selector
*, *::before, *::after {
  box-sizing: inherit;
}
// sass-lint:enable single-line-per-selector

.page {
  position: relative;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background: white;
  page-break-after: auto;
  margin: 50px;
  overflow: hidden;
  // Letter dimensions
  width: $letter-width;
  height: $letter-height;
}

@media print {
  body {
    width: $letter-width;
  }

  body.phantomjs-fix {
    // XXX: PhantomJS 2 wrong size bug
    // https://github.com/ariya/phantomjs/issues/12685#issuecomment-89452503
    zoom: 0.75;
  }

  .page {
    margin: 0;
  }
}


// -----------------------------------------------------------------------------

.header {
  @extend %font-family-ultra-light;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  background: $red;
  color: white;
  height: 4cm;
}

.header > div {
  text-align: center;
}

.header-name {
  font-size: 40pt;
}

.header-name-last {
  @extend %font-family-normal;
}

.header-title {
  font-size: 14pt;
}

.header-tagline {
  font-size: 12pt;
}

.header-pic {
  width: $sidebar-width;
  position: absolute;
  top: 0.5cm;
  left: $document-left-margin;

  img {
    border-radius: 50%;
    height: 3cm;
    width: 3cm;
  }
}


// -----------------------------------------------------------------------------

.content {
  color: $gray;
  display: -webkit-flex;
  margin: 0.5cm 1cm;
  -webkit-flex-grow: 1;

  h1 {
    @extend %font-family-condensed-bold;
    text-transform: uppercase;
    font-size: 14.4pt;
    font-weight: inherit;
    margin: 0;
  }

  section:not(:first-child) {
    margin-top: 1em;
  }
}

.content .sidebar {
  width: $sidebar-width;

  h1 {
    color: $red;
  }
}

.content .main {
  // border: 1px solid black;
  -webkit-flex-grow: 1;
  margin-left: 0.5cm;

  h1 {
    color: $gray;
    display: -webkit-flex;

    &::after {
      border-bottom: 1px solid $gray;
      content: ' ';
      flex: 1;
      margin-bottom: 0.1cm;
      margin-left: 0.1cm;
    }
  }
}
