@import 'sass/_typography';

// Sizes
$letter_width: 8.5in;
$letter_height: 11in;

// Palette
$red: #d11e2f;
$gray: #4d4d4d;
$dark-gray: #333333;
$light-gray: #999999;

html,
body {
  @extend %font-family-light;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.page {
  position: relative;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background: white;
  page-break-after: auto;
  margin: 50px;
  overflow: hidden;
  // Letter dimensions
  width: $letter_width;
  height: $letter_height;
}

@media print {
  body {
    width: $letter_width;
  }

  body.phantomjs-fix {
    // XXX: PhantomJS 2 wrong size bug
    // https://github.com/ariya/phantomjs/issues/12685#issuecomment-89452503
    zoom: 0.75;
  }

  .page {
    margin: 0;
  }
}


// -----------------------------------------------------------------------------

.header {
  @extend %font-family-ultra-light;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  background: $red;
  color: white;
  height: 4cm;
}

.header > div {
  text-align: center;
}

.header-name {
  font-size: 35pt;
}

.header-name-last {
  @extend %font-family-normal;
}

.header-pic {
  height: 3cm;
  width: 3cm;
  border-radius: 50%;
  position: absolute;
  top: 0.5cm;
  left: 1cm;
}


// -----------------------------------------------------------------------------

.content {
  color: $gray;
  display: -webkit-flex;
  margin: 0.5cm;
  -webkit-flex-grow: 1;

  h1 {
    @extend %font-family-condensed-bold;
    font-size: 1em;
    font-weight: inherit;
    margin: 0;
  }

  section:not(:first-child) {
    margin-top: 1em;
  }
}

.content .sidebar {
  // border: 1px solid black;
  width: 4cm;

  h1 {
    color: $red;
  }
}

.content .main {
  // border: 1px solid black;
  -webkit-flex-grow: 1;
  margin-left: 0.5cm;

  h1 {
    color: $gray;
  }
}
